.reveal table th, .reveal table td {
  text-align: center;
  border-bottom: 0px;
}

.lighter {
  opacity: 0.5;
  /*text-shadow: -10px 10px 0px #00e6e6,*/
                 /*-20px 20px 0px #01cccc,*/
                 /*-30px 30px 0px #00bdbd;*/
}
